doctype html
head
  // Meta tags
  title PatientRegister
  meta(charset='utf-8')
  link(rel='stylesheet' href='Patient Register/css/font-awesome.css')
  // google fonts
  link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700' rel='stylesheet')
  
style 
  include ../public/style/PatientRegister.css
.w3ls-banner
  .heading
    h1 Register Here...
  .containerform
    .heading
      h2 Please Enter Patients Details
      p
        | Fill the form below and submit it. we will contact you as soon as possible.
    #form-one.agile-form
      form(action='/PatientRegister' method='post')
        ul.field-list
          li
            label.form-label
              | FIrst Name 
              span.form-required  * 
            .form-input
              input(type='text' name='firstname' required='')
          li
            label.form-label
              | Middle Name 
              span.form-required  * 
            .form-input
              input(type='text' name='middlename' required='')
          li
            label.form-label
              | Last Name 
              span.form-required  * 
            .form-input
              input(type='text' name='lastname' required='')
          li
            label.form-label
              | Date of Birth
              span.form-required  *
            .form-input
              input(type='date' name='dob' required='') 
          li
            label.form-label
              | Age
              span.form-required  * 
            .form-input
              input(type='text' name='userage' required='')
          li
            label.form-label
              | Blood Group
              span.form-required  * 
            .form-input
              span.form-sub-label
                select(name='bloodgroup')
                  option &nbsp;
                  option(value='A+')  A+ 
                  option(value='A-')  A- 
                  option(value='B+')  B+ 
                  option(value='B-')  B- 
                  option(value='O+')  O+ 
                  option(value='O-')  O- 
                  option(value='AB+')  AB+ 
                  option(value='AB-')  AB- 
          li
            label.form-label
              | Gender
              span.form-required  * 
            .form-input
              select.form-dropdown(name='gender' required='')
                option(value='') &nbsp;
                option(value='Male')  Male 
                option(value='Female')  Female 
                option(value='Transgender')  Transgender 
          li
          li
            label.form-label
              | Aadhar Card Number
              span.form-required  * 
            .form-input
              input(type='tel' name='aadharcard' required='' pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}")
          li
            label.form-label
              | Emergency Number
              span.form-required  * 
            .form-input
              input(type='tel' name='emermobileno' required='' pattern="[0-9]{10}")
          li
            label.form-label
              | Family Doctor Mo.
              span.form-required  * 
            .form-input
              input(type='tel' name='familydoctormobile' required='' pattern="[0-9]{10}")
          li
            label.form-label
              | Mobile Number
              span.form-required  * 
            .form-input
              input(type='tel' name='mobileno' required='' pattern="[0-9]{10}")
          li
            label.form-label
              | E-Mail Address
              span.form-required  * 
            .form-input
              input(type='email' name='email' required='')
          li
            label.form-label
              | Address
              span.form-required  * 
            .form-input
              input(type='text' name='address' required='')
          li
            label.form-label
              | Username
              span.form-required  * 
            .form-input
              input(type='text' name='username' required='')
          li
            label.form-label
              | Password
              span.form-required  * 
            .form-input
              input(type='password' name='pass' required='')
          li
            label.form-label
              | Conferm Password
              span.form-required  * 
            .form-input
              input(type='password' name='confpass' required='')          
          //- .submit-reset
        div
          input(type='reset'  value='reset')
          input(type="submit" value='Register') 
      br
  //- #form-two.containerform(style='display:none;')
  //-   .heading
  //-     h2 Please Enter Patient's Profile Image 
  //-   .agile-form
  //-     form(method='POST' action='/upload-profile-pic' enctype='multipart/form-data')
  //-       label.form-label
  //-         | Add Image
  //-         span.form-required
  //-       .form-input
  //-         input(type='file' name='profile_pic' required='')
  //-       div
  //-         input(type='button' onclick='form1()' value='previous') 
  //-         input(type='submit' name='btn_upload_profile_pic' value='Upload')
  br
  br
  br
  //- script.
  //-   function form1() {
  //-   document.getElementById("form-one").style.display = "block";
  //-   document.getElementById("form-two").style.display = "none";
  //-   }
  //-   function form2() {
  //-   document.getElementById("form-one").style.display = "none";
  //-   document.getElementById("form-two").style.display = "block";
  //-   }